* {
  box-sizing: border-box;
}

/* dark purple: #291720
   dark nav: rgb(35, 35, 35);
   light nav: rgba(229, 229, 229, 0.25);
   telephone: rgb(218, 69, 89);
   attention(yellow): #FFD400; */

   /* color palette
   cyber yellow: #FFD400;
      soft blue: #9CFFFA;
      grey: #CEE7E6;
      pink: #94778B;
      red: #931F1D;
*/

/****  header ****/
.top-headline {
  background-color: #CEE7E6;
  padding: 0;
  line-height: 30px;
  position: relative;
}

.head-left {
  color: black;
  padding: 0px 9px;
  margin: 5px 0px 5px 30px;
  display: inline-block;
  font-size: 0.9em;
  line-height: 29px;
  border-radius: 15px;
}

.contact {
  color: #931F1D;
  display: inline-block;
  position: absolute;
  right: 55px;
  top: 4px;
  padding: 0px 15px;
  font-size: 1.2em;
}

.contact a {
  text-decoration: none;
  color: rgb(218, 69, 89);
}

.contact a:hover {
  color: white;
  border-bottom-style: solid;
  border-color: rgb(218, 69, 89);
}

.branding {
  background-color: #94778B;
  color: white;
  padding: 0px;
  height: 82px;
  position: relative;
}

.icon-left {
  color: white;
  padding: 0px 15px;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 55px;
}

#domain-name {
  position: absolute;
  left: 91px;
  top: 4px;
  font-family: 'Turret Road', cursive;
  font-size: 25px;
}

.branding .navbar {
  display: inline-block;
  padding: 0px 15px;
  position: absolute;
  right: 55px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 11px;
  background-color: rgba(147, 31, 29, .75);
}

#link-under {
  border-bottom: 1px dotted black;
}

li a {
  color: rgba(0, 0, 0, .75);
  border-collapse: collapse;
  display: block;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: .9em;
  padding: 5px 40px 5px 10px;
}

li a:hover {
  border-left: 3px solid #FFD400;
  color: rgb(235, 235, 235);
  background-color: rgba(80,80,80, .9);
}

@media screen and (max-width: 900px) {
  .head-left, .icon-left {
    visibility: hidden;
  }
}
