* {
  box-sizing: border-box;
}

/* dark purple: #291720
   dark nav: rgb(35, 35, 35);
   light nav: rgba(229, 229, 229, 0.25);
   telephone: rgb(218, 69, 89);

/****  header ****/
.top-headline {
  background-color: #291720;
  padding: 1px 0px;
  line-height: 30px;
  position: relative;
}

.head-left {
  color: white;
  padding: 0px 9px;
  margin: 5px 0px 5px 30px;
  display: inline-block;
  font-size: 0.8em;
  line-height: 28px;
  border: 2px solid purple;
  border-radius: 15px;
}

.contact {
  color: rgb(218, 69, 89);
  display: inline-block;
  position: absolute;
  right: 55px;
  top: 7px;
  padding: 0px 15px;
  font-size: 1.2em;
}

.branding {
  background-color: #5D414F;
  color: white;
  padding: 0px;
  height: 80px;
  position: relative;
}

.icon-left {
  color: white;
  padding: 0px 15px;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 55px;
}


#domain-name {
  position: absolute;
  left: 95px;
  top: 0px;
  font-family: 'Turret Road', cursive;
  font-size: 24px;
}

.branding .navbar {
  display: inline-block;
  padding: 0px 15px;
  position: absolute;
  right: 55px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
  background-color: rgba(229, 229, 229, 0.25);
 }

li a {
  color: rgb(35, 35, 35);
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: .9em;
  padding: 5px 40px 5px 10px;
}

li a:hover {
  color: rgb(229, 229, 229);
  background-color: rgb(35, 35, 35);
}

@media screen and (max-width: 900px) {
  .head-left, .icon-left {
    visibility: hidden;
  }
}
