/* dark purple: #291720;
   dark nav: rgb(35, 35, 35);
   light nav: rgba(229, 229, 229, 0.25);
   telephone: rgb(218, 69, 89);
   attention(yellow): #FFD400; */

   /* color palette
   cyber yellow: #FFD400;
   lemoney yellow: #ffef3b;
      soft blue: #9CFFFA;
      grey: #CEE7E6;
      pink: #94778B;
      ultra red: #FF778B;
      rose: hsl(1,67,54);
      dark blue: #53687e;
      green pantone: #50A145;
      dark plum: #291711;
      sizzling red: #ff3352;
      smooth yellow: hsla(55, 100%, 81%, 1);
*/
/* Global Styles */
:root {
  --soft-blue: #9CFFFA;
  --dark-blue: #53687e;
  --plum: #291711;
  --smooth-yellow: hsla(55, 100%, 81%, 1);
  --cg-red: hsl(1, 77%, 54%);
  --silver-chal: #ACABA0;
  --grey-davey: #555;
  --tangerine: rgb(255, 155, 126);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 59px;
}

/* style the top row: headline */
.headline {
  background-color: var(--soft-blue);
  line-height: 12px;
  margin-top: 0;
}

/* style left column: sale info */
.sale-info {
  color: black;
  font-size: 0.8em;
  position: absolute;
  left: 70px;
 }

/* create two equal colums that float beside another */
.column {
  float: left;
  width: 50%;
  padding: 15px;
  position: relative;
}

/*style right column: contact info */
.contact-info {
  display: inline-block;
  position: relative;
}

/* style contact info link */
.contact-info a {
  color: var(--dark-blue);
  position: absolute;
  right: 25px;
  text-decoration: none;
  text-shadow: 4px 3px 5px var(--dark-blue);
}

.center {
  text-align: center;
  font-weight: bold;
  color: var(--plum);
}

/* change color on hover */
.contact-info a:hover {
  color: white;
  padding-bottom: 4px;
  border-bottom: 3px solid var(--cg-red);
  /* background-color: #555; */
  /* color: #D4B000; */
  text-decoration: none;
}
/*
#nomar {
  margin-top: 0;
} */

/* style next row: branding */
.branding {
  background-color: var(--dark-blue);
  line-height: 30px;
}

/* style left column: brand icon */
.brand-icon {
  padding: 0;
  position: relative;
}

/* position the image */
.brand-img {
  margin: 10px 0px 5px 24px;
}

/* position brand url next to icon image */
.brand-url {
  color: white;
  font-family: 'Turret Road', cursive;
  font-size: 28px;
  position: absolute;
  top: 33px;
  left: 113px;
  margin-top: 0;
}

/* position navbar */
.navbar {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
}

/* style the navbar links */
.navbar ul {
  position: absolute;
  right: 25px;
  top: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  border: 1px solid black;
  width: 20%;
  background-color:  var(--smooth-yellow);
  line-height: 16px;
  font-size: 0.8em;
  /* overflow: hidden; */
}

/* remove underlines on li's */
.navbar a {
  text-decoration: none;
  /* width: 100px; */
  display: block;
  height: 27px;
  padding: 5px 8px;
  color: var(--silver-chal);
}

/* first link child gets bottom border */
.navbar li:first-child {
  border-bottom: 1px solid black;
}

/* change navbar color on hover */
.navbar a:hover {
  background-color: #efefef;
  color: var(--plum);
  font-weight: bold;
  text-decoration: none;
}

/* clear floats after columns */
.rowing::after {
  content: "";
  display: table;
  clear: both;
}

/* footer */
/* color footline background */
.rowing.footline {
  background-color: var(--soft-blue);
  overflow: auto;
}

.column.social {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.column.social li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  float: left;
}

.column.social li a {
  display: block;
  padding: 10px;
  font-size: 1.6em;
}

.column.copyright {
  color: var(--grey-davey);
  position: relative;
  font-size: 0.9em;
  padding-top: 0;
  padding-bottom: 0;
}

.copy-wrap {
  position: absolute;
  right: 70px;
  top: 15px;
  overflow: auto;
}

.column.copyright a {
  color: var(--smooth-yellow);
  text-decoration: none;
  font-size: 1.5em;
}

#footer {
  position: relative;
  height: 59px;
  margin-top: -59px;
}

/* responsive layout - makes two columns stack when screen is small */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    text-align: center;
    clear: both;
  }

  .sale-info {
    position: relative;
    left: 20px;
  }

  .contact-info a {
    position: relative;
    text-align: center;
    left: 0px;
   }

   .brand-img, .brand-url {
     position: relative;
     left: 0px;
    }

    .navbar ul{
       width: 50%;
       position: relative;
       left: 25%;
       top: 11px;
       /* overflow: hidden; */
      }

      .brand-img {
        margin-left: 0;
        margin-top: 20px;
      }

      .brand-url{
        margin-bottom: 30px;
      }

      .branding {
        line-height: 27px;
      }

      .column.social ul{
        width: 25%;
        margin: auto;
      }

      .column.copyright .copy-wrap {
        position: relative;
        left: 0px;
        top: 0;
      }

}
