.img-snow {
  background-image: url("../snow_dust_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
  max-height: 1604px;
  max-width: 1600px;
}

.grow {
  height: 1280px;
}

.shrink {
  align-self: center;
  opacity: 0.8;
}

.hot {
  color: var(--tangerine);
  opacity: 0.8;
}

.cool {
  color: indigo;
  opacity: 0.7;
}

.pointer {
  cursor: pointer;
}

.sun {
  background-color: var(--teal);
  opacity: 0.8;
}

.purp {
  background-color: var(--purple);
  border: 1px solid var(--smooth-yellow);
  opacity: 0.7;
}

.btn-shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* box-shadow: 12px 12px 40px rgba(0,0,0,0.2), 12px 12px 40px rgba(0,0,0,0.19); */
}

.img-rounded {
  border-radius: 50%;
  object-fit: cover;
  object-position: 90% 100%;
  opacity: 0.8;
}

.object-f {
  object-fit: cover;
  object-position: 100% 5%;
}

.highlight {
  background-color: var(--smooth-yellow);
  /* rgba(250, 235, 109, .6); */
  padding: 10px 0;
  /* height: 1280px; */
}

.blendin {
  background-color: rgb(46, 53, 78);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-outer {
  /* border: 1px solid gray; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mint-spice {
  color: rgb(174, 224, 229);
}

.pos-rel {
  position: relative;
}

.right-align {
    position: absolute;
    right: 0;
    top: 0;
}

.pos-abs {
  position: absolute;
  right: 0px;
  top: 50px;
}

.no-coll {
  border-collapse: inherit;
}

.photo-generic {
  max-width: 650px;
  height: 650px;
}

.ins-bg{
  max-height: 1604px;
}

.ins-content{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .photo-generic {
    max-width: 375px;
    height: 375px;
  }
  .purp {
    margin-top: -300px;
  }
}

@media screen and (max-width: 415px) {
  .photo-generic {
    max-width: 250px;
    height: 250px;
  }
  .purp {
    margin-top: -579px;
  }
}
