.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shaun-img {
  max-height: 220px;
  object-fit: cover;
}

.info-card {
  height: 503px;
}

.topnav a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.topnav a:hover {
  color: var(--smooth-yellow);
}

.topnav a.active {
  color: var(--smooth-yellow);
}

#branding {
  margin-left: -20px;
  font-size: 17px;
  color: white;
}

#navbar {
  padding: 5px 0;
  background-color: #53687e;
}

.yellow {
  background-color: var(--smooth-yellow);
  min-height: 575px;
  height: 100vh;
  padding: 25px;
}

.img-snow {
  background-image: url("../snow_dust_bg.jpg");
  background-repeat: no-repeat;
  background-position: 24% 50%;
  background-size: cover;
  opacity: 0.9;
  max-height: 1604px;
  max-width: 1600px;
}

.grow {
  height: 1280px;
}

.shrink {
  align-self: center;
  opacity: 0.8;
}

.hot {
  color: var(--tangerine);
  opacity: 0.8;
}

.cool {
  color: indigo;
  opacity: 0.7;
}

.pointer {
  cursor: pointer;
}

.sun {
  background-color: var(--teal);
  opacity: 0.8;
}

.purp {
  background-color: var(--purple);
  border: 1px solid var(--smooth-yellow);
  opacity: 0.7;
}

.btn-shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* box-shadow: 12px 12px 40px rgba(0,0,0,0.2), 12px 12px 40px rgba(0,0,0,0.19); */
}

.img-rounded {
  border-radius: 50%;
  object-fit: cover;
  object-position: 90% 100%;
  opacity: 0.8;
}

.object-f {
  object-fit: cover;
  object-position: 100% 5%;
}

.highlight {
  background-color: var(--smooth-yellow);
  /* rgba(250, 235, 109, .6); */
  padding: 10px 0;
  /* height: 1280px; */
}

.blendin {
  background-color: rgb(46, 53, 78);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-outer {
  /* border: 1px solid gray; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mint-spice {
  color: rgb(174, 224, 229);
}

.pos-rel {
  position: relative;
}

.right-align {
    position: absolute;
    right: 0;
    top: 0;
}

.pos-abs {
  position: absolute;
  right: 0px;
  top: 50px;
}

.no-coll {
  border-collapse: inherit;
}

.photo-generic {
  max-width: 650px;
  height: 650px;
}

.ins-bg{
  max-height: 1604px;
}

.ins-content{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 415px) {
  .photo-generic {
    max-width: 250px;
    height: 250px;
  }
  .purp {
    margin-top: -579px;
  }
}

@media screen and (max-width: 800px) {
  .photo-generic {
    max-width: 375px;
    height: 375px;
  }
  .purp {
    margin-top: -300px;
  }
}

@media (max-width: 820px) {
  .nav-link {
    padding-right: 0.2rem;
  }
}

@media (min-width: 576px) {
  #nav-contain {
    justify-content: end !important;
  }
  #navbar {
    flex-direction: row !important;
  }
  #branding {
    padding: 2px 0;
    font-size: 20px;
    position: absolute;
    left: 4vw;
  }
  .topnav a {
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  #cart {
    margin-left: auto;
  }
  #navbar {
    justify-content: start;
  }
  #branding {
    margin-left: 0px;
    position: static;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-height:1000px),
only screen and (   min--moz-device-pixel-ratio: 2) and (min-height:1000px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-height:1000px),
only screen and (        min-device-pixel-ratio: 2) and (min-height:1000px),
only screen and (                min-resolution: 192dpi) and (min-height:1000px),
only screen and (                min-resolution: 2dppx) and (min-height:1000px) {
  .img-snow {
    background-image: url("../../public/images/winter_snow_nature_landscape_3840x2400.jpg");
    background-size: cover;
    background-position: 30% 50%;
    opacity: 0.95;
  }
}
