.lesson-list {
  font-size: ;
}

.lesson-list .board-item {
  border-bottom: ;
}

.lesson-list .board-item:last-child {
  border-bottom: none;
}

.lesson-list .board-name {
  font-weight: ;
  color: ;
  font-size: ;
  line-height: ;
}

.lesson-list .lsn-date {
  font-style: ;
}

.lesson-list .lsn-length {
  line-height: ;
}
