/***   Global/Schedule   ***/
.row {
  margin-top: 15px;
}

.pos-rel {
  position: relative;
}

.cal-pos {
  position: absolute;
  top: 10px;
  right: 20px;
}

.front {
  position: relative;
  z-index: 9999;
}

/***   ListLessons   ***/
.lesson-list {
  overflow: scroll;
}

.brd {
  /* border-bottom: dotted 1px #6c757d; */
  /* background-color: #b75757; */
  padding: 15px 0px 15px 0px;
}

.row .brd:first-of-type {
  padding: 15px 0 15px 5px;
}

.bulk {
  font-weight: 500 !important;
}
/***   SearchLessons   ***/


/***   AddLessons   ***/

/***   Cart   ***/
.pos-abs {
  positon: absolute;
  right: 15px;
  top: 0;
}

.table-cart {
  width: 100%;
}

.lesson-quantity-container {
  position: absolute;
  top: 2px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

.lesson-quantity {
  border-radius: 50%;
  color: white;
  font-size: 13px;
  height: 21px;
  display: grid;
  place-items: center;
}

.label-item{
  color: #6c757d;
  font-weight: 600;
}

.lsn-date {
  font-style: italic;
  font-weight: lighter;
}

.add-lesson .card-body {
  display: none;
}

.show-hide {
  display: none;
}

#sphere {
width: 30px;
}
.remove-lsn-list {
  display: none;
}

.add-btn {
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
}

.blue-clr {
  background-color: blue;
  position: relative;
}

.btn-ovr {
  position: absolute;
  right: 3px;
}

.btn-shadow{
  box-shadow: 12px 12px 40px rgba(0,0,0,0.2), 12px 12px 40px rgba(0,0,0,0.19);
}

.contrast {
  color: var(--smooth-yellow);
}

.table {
  position: relative;
  z-index: 99999;
}

.card-body {
  padding: 4rem 1.25rem;
}
/***   Snowflake Animation   ***/
.flake {
  font-size: 1rem;
  padding: 0;
  /*dark grey blue*/
  color: #5A5F8C;
  animation: fall 40s linear forwards infinite;
  animation-delay: -6s;
}

.snow-contain {
  /* overflow: hidden; */
  /* height: 12px; */
  position: relative;
  z-index: -9999;

}

.positive-z {
  z-index: 99999;
  position: relative;
}
@keyframes fall {
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(800px);
  }
}

@media only screen and (min-height: 712px) {
  @keyframes fall {
    from {
      transform: translateY(-10vh);
    }
    to {
      transform: translateY(900px);
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 767px) {

  .cal-pos {
    position: static;
  }

  @media only screen and (min-width: 781px) {
    .container {
      max-width: 100px;
    }
  }

}

@media only screen and (min-width: 768px) {
  .lg-inline {
    display: inline !important;
  }
}

@media only screen and (max-width: 415px) {
  .table-active {
    font-size: 0.75rem;
  }
}
/* @media only screen and (max-width: 567px) {
  .drop-text {
    padding-top: 1.5rem;
  }
} */
