.lesson-list {
  overflow: scroll;
}

.row {
  margin-top: 15px;
}

.brd {
  /* border-bottom: dotted 1px #6c757d; */
  /* background-color: #b75757; */
  padding: 15px 0px 15px 0px;
  /* margin-left: 6px; */
}

.row .brd:first-of-type {
  padding: 15px 0 15px 5px;
}

.pos-rel {
  position: relative;
}

.cal-pos {
  position: absolute;
  top: 10px;
  right: 20px;
}

.pos-abs {
  positon: absolute;
  right: 15px;
  top: 0;
}
.price-align {
  position: relative;
}
.price-align2 {
  position: absolute;
  right: 9px;

}
.table-cart {
  width: 100%;
}

.lesson-quantity-container {
  position: absolute;
  top: 2px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

.lesson-quantity {
  border-radius: 50%;
  color: white;
  font-size: 13px;
  height: 21px;
  display: grid;
  place-items: center;
}

.label-item{
  color: #6c757d;
  font-weight: 600;
}

.lsn-date {
  font-style: italic;
  font-weight: lighter;
}

.add-lesson .card-body {
  display: none;
}

.show-hide {
  display: none;
}

#sphere {
width: 30px;
}
.remove-lsn-list {
  display: none;
}

.add-btn {
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
}

.blue-clr {
  background-color: blue;
  position: relative;
}

.btn-ovr {
  position: absolute;
  right: 3px;
}

.btn-shadow{
  box-shadow: 12px 12px 40px rgba(0,0,0,0.2), 12px 12px 40px rgba(0,0,0,0.19);
}

.contrast {
  color: var(--smooth-yellow);
}


@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 767px) {

  .cal-pos {
    position: static;
  }

  @media only screen and (min-width: 781px) {
    .container {
      max-width: 100px;
    }
  }

}

@media only screen and (min-width: 768px) {
  .lg-inline {
    display: inline !important;
  }
}

/* @media only screen and (max-width: 567px) {
  .drop-text {
    padding-top: 1.5rem;
  }
} */
