.lesson-list {
  overflow: scroll;
  /* margin-bottom: 30px; */
}

.row {
  margin-top: 15px;
}

.brd {
  /* border-bottom: dotted 1px #6c757d; */
  /* background-color: #b75757; */
  padding: 20px 0px 20px 13px;
  /* margin-left: 6px; */
}

.lesson-quantity-container {
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  width: 37%;
}

.lesson-quantity {
  border-radius: 50%;
  color: white;
  font-size: 13px;

  height: 21px;
  display: grid;
  place-items: center;
}
.label-item{
  color: #6c757d;
  font-weight: 600;
}

.lsn-date {
  font-style: italic;
  font-weight: lighter;
}

.add-lesson .card-body {
  display: none;
}

.show-hide {
  display: none;
}

.remove-lsn-list {
  display: none;
}

.add-btn {
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
}

.blue-clr {
  background-color: blue;
  position: relative;
}

.btn-ovr {
  position: absolute;
  right: 3px;
}

.btn-shadow{
  box-shadow: 12px 12px 40px rgba(0,0,0,0.2), 12px 12px 40px rgba(0,0,0,0.19);
}

@media only screen and (min-width: 768px) {
  #sphere {
  width: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 767px) {
  .lesson-quantity-container {
    position: absolute;
    right: 8px;
    top: 50px;
    border-radius: 50%;
    width: 37%;
  }
  @media only screen and (min-width: 781px) {
    .container {
      max-width: 100px;
    }
  }

  @media screen and (min-width: 950px) {
    .lesson-quantity {
      width: 21px;
    }
  }



}
